@import 'o-colors/main';
@import 'o-grid/main';

$font-sans: MetricWeb, sans-serif;
$font-serif: Georgia, serif;
$font-display: FinancierDisplayWeb, Georgia, serif;

body {
  @include oColorsFor(page, background);
  margin: 0;
  border: 0;
  font-family: $font-sans;
}

.o-header{
  &--light {
    border-bottom: 1px solid #e9decf;
  }
}

$share-button-size: 33px;
.o-share--muted {
  .o-share__action {
    line-height: $share-button-size;

    a {
      width: $share-button-size;
      &:hover {
      }
    }

    i {
      width: $share-button-size;
      height: $share-button-size;
      text-indent: $share-button-size;
      border: 1px solid #e9decf;
      &:hover {
        opacity: 1;
        background-color: #e9decf;
      }
    }

    &--twitter i {
      background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTMgLTEwMyA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS04MS44NjItODkuNzg2Yy0uODIuMzU3LTEuNy42LTIuNjI0LjcwOC45NDMtLjU1NiAxLjY2OC0xLjQzNiAyLjAxLTIuNDgzLS44ODMuNTEtMS44NjIuODgtMi45MDIgMS4wOC0uODMzLS44Ny0yLjAyLTEuNDItMy4zMzctMS40Mi0yLjUyMyAwLTQuNTcgMi4wMS00LjU3IDQuNDkgMCAuMzUuMDQuNjkuMTE4IDEuMDItMy44LS4xOS03LjE2Ny0xLjk3OC05LjQyLTQuNjktLjM5NC42Ni0uNjIgMS40My0uNjIgMi4yNiAwIDEuNTUuODA3IDIuOTMgMi4wMzMgMy43My0uNzUtLjAyNS0xLjQ1NC0uMjI4LTIuMDctLjU2di4wNTRjMCAyLjE3NiAxLjU3MyAzLjk5IDMuNjY3IDQuNC0uMzg0LjEwNC0uNzkuMTYtMS4yMDQuMTYtLjMgMC0uNTgtLjAyNy0uODYtLjA4LjU4IDEuNzgyIDIuMjcgMy4wOCA0LjI3IDMuMTE2LTEuNTcgMS4yMDUtMy41NCAxLjkyMy01LjY4IDEuOTIzLS4zNyAwLS43NC0uMDI2LTEuMDktLjA2NyAyLjAyIDEuMjcyIDQuNDIgMi4wMTUgNyAyLjAxNSA4LjQgMCAxMy02Ljg0IDEzLTEyLjc3IDAtLjE5NC0uMDA3LS4zOS0uMDE4LS41OC44OS0uNjMzIDEuNjY1LTEuNDI1IDIuMjgtMi4zMjV6Ii8+PC9zdmc+)
    }

    &--facebook i {
      background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTQgLTEwNSA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS05Ny05MS40NHYyLjk1aC0yLjE3djMuNjJILTk3djEwLjcyaDQuNDN2LTEwLjcyaDNzLjI2LTEuNzMuNC0zLjYyaC0zLjM4di0yLjQ3YzAtLjM3LjUtLjg3Ljk2LS44N2gyLjQzdi0zLjc1aC0zLjI4Yy00LjY2IDAtNC41NSAzLjYzLTQuNTUgNC4xNnoiLz48L3N2Zz4=)
    }

    &--linkedin i {
      background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTMgLTEwMyA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS0xMDMuMzMyLTkxLjMzYy41My41MzUgMS4xNy44MDMgMS45MTcuODAzLjc1IDAgMS4zODgtLjI2OCAxLjkxNy0uODAzLjUzLS41MzUuNzk1LTEuMTgzLjc5NS0xLjk0MiAwLS43Ni0uMjY1LTEuNDA0LS43OTUtMS45MzRzLTEuMTctLjc5NS0xLjkxNy0uNzk1Yy0uNzQ4IDAtMS4zODcuMjYtMS45MTcuNzlzLS43OTUgMS4xNy0uNzk1IDEuOTMuMjY1IDEuNDA3Ljc5NSAxLjk0MnptNC4yMzYgMTcuNTgzdi0xNC44M2gtNC41ODh2MTQuODNoNC41ODh6bTE3LjIyMyAwdi05LjM5YzAtMS45MjMtLjQ5LTMuMzg3LTEuNDc1LTQuMzkyLS45ODMtMS0yLjI5NC0xLjUtMy45MzMtMS41LS41OSAwLTEuMTUuMDg2LTEuNjcuMjU1LS41Mi4xNy0uOTQuMzc0LTEuMjcuNjE1LS4zMy4yNC0uNjE3LjQ4LS44Ni43Mi0uMjQ4LjI0LS40Mi40NDItLjUxOC42MDZsLS4xNjUuMjZ2LTEuOTk2aC00LjQwOHYxNC44M2g0LjQwN3YtNy43ODVjMC0xLjA2LjI0LTEuODguNzItMi40Ni40ODQtLjU4IDEuMTc3LS44NjcgMi4wODQtLjg2NyAxLjY3IDAgMi41MDggMS4xMSAyLjUwOCAzLjMyN3Y3Ljc4aDQuNTc0eiIvPjwvc3ZnPg==)
    }
  }
}

.article {
  &-head {
    margin-top: 21px;
    margin-bottom: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    time {
      text-transform: uppercase;
    }
    .o-share--vertical {
      float: right;
      .o-share__action {
        margin: 0 0 0 5px;
        a,
        a:first-child {
          padding-top: 0;
          padding-bottom: 5px;
        }
      }
    }
  }

  &-body {
    & > :not(.graphic) {
      max-width: 625px;
      margin: 1em auto;
    }
  }
}

.graphic {

  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;

  & > img,
  & > svg {
    width: 100%;
    height: auto;
    display: block;
  }

  &-b-0 {
    max-width: 625px;
  }

  &-b-1 {
    max-width: 700px;
  }

}

// Custom
.article__byline.credits {
  margin-right: 10px;
}

.o-header__meganav-toggle {
  margin-bottom: 13px;
}

header > h1,
header > p {
  margin: 12px 0;
}

.article__timestamp {
  font-size: 13px;
  line-height: 1.2em;
}
.article__timestamp {
  color: #8b572a;
}

.feed-item > small {
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #9e2f50;
  text-transform: uppercase;
}

.o-share {
  float: right;
  position: relative;
  bottom: 16px;
}

.o-typography-flyline {
  margin-bottom: 19px;
  letter-spacing: 0.2px;
}

.o-typography-flyline__link {
  font-size: 18px;
}

.o-typography-flyline__link,
.article__byline a {
  color: #9e2f50;
  text-transform: none;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    border-bottom-color: #4f1828;
    color: #4f1828;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
  }
}
.o-typography-heading1 {
  font-size: 42px;
  padding-top: 10px;
  border-top: 1px solid #e9decf;
  line-height: 42px;
}

.o-typography-lead {
  font-style: normal;
  color: #777777;
  font-size: 18px;
  text-align: left;
  max-width: 625px;
  line-height: 22px;
}

.o-typography-lead--small {
  font-style: normal;
  color: #777777;
  text-align: left;
  max-width: 625px;
  margin: 6px auto;
}

.feed-item,
.aggregate {
  box-shadow: 0 1px 1px 0 #cec6b9;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 1em;
  padding: 20px;
  overflow: hidden;
  > h2 {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    font-size: 22px;
    line-height: 23px;
    color: #333333;
  }
  > p {
    color: #505050;
    font: 16px/1.4 Georgia,serif;
    margin-bottom: 0;
  }
}

.story-link {
  float: right;
  margin-top: 10px;
}

.story-link:after {
    background-image: url("https://next-geebee.ft.com/image/v1/images/raw/fticon:arrow-right?source=o-icons&tint=%2327757b,%2327757b&format=svg");
    background-image: url("https://next-geebee.ft.com/image/v1/images/raw/fticon:arrow-right?source=o-icons&tint=%2327757b,%2327757b&format=png&width=10")\9;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-color: rgba(0, 0, 0, 0);
    vertical-align: middle;
    content: '';
    margin-right: -15px;
    padding-right: 8px;
    margin-bottom: 2px;
}

.card-link:hover .story-link,
.card-link:hover h2 {
  text-decoration: underline;
}

.aggregate {
  text-align: center;
  overflow: hidden;
  max-width: 625px;
  box-sizing: border-box;
  h2 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 22px;
  }
  .agg-item{
    text-align: left;
    padding-left: 0;
    &:first-child {
      border-right: 0;
      border-bottom: 1px solid #e9decf;
      padding-bottom: 10px;
    }
    > h2,
    p {
      display: inline-block;
      margin-bottom: 0;
    }
    > h2 {
      margin-top: 0.4em;
      font-weight: normal;
      font-size: 18px;
    }
    > p {
      font-family: $font-sans;
      font-weight: 200;
      font-size: 24px;
      color: #cc0000;
    }
  }
}
@include oGridRespondTo (M) {
  .article {
    &-head {
      margin-top: 28px;
      margin-bottom: 2em;
    }
  }
  header > h1,
  header > p {
    text-align: center;
  }
  .o-typography-flyline {
    margin-bottom: 14px;
  }
  .o-typography-flyline__link {
    font-size: 20px;
  }
  .o-typography-heading1 {
    line-height: 52px;
    font-size: 50px;
    padding-top: 30px;
  }
  .o-typography-lead {
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto;

  }
  .aggregate {
    h2 {
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 1em;
    }
    .agg-item{
      text-align: center;
      &:first-child {
        border-right: 1px solid #cec6b9;
        border-bottom: 0;
        padding-bottom: 0;
      }
      > h2,
      p {
        display: block;
      }
      > h2 {
        font-size: 24px;
        margin-top: 0;
        line-height: 16px;
      }
      > p {
        font-size: 36px;
        line-height: 30px;
      }
    }
  }
  .feed-item {
    > h2 {
      font-size: 24px;
      line-height: 25px;
    }
    > p {
      font: 18px/1.4 Georgia,serif;
    }
  }
}

@include oGridRespondTo (L) {
  .o-typography-heading1 {
    line-height: 62px;
    font-size: 60px;
  }
  .o-typography-lead {
    font-size: 24px;
    line-height: 28px
  }
  .feed-item {
    > h2 {
      font-size: 26px;
      line-height: 27px;
    }
  }
  .aggregate{
    h2 {
      font-size: 26px;
    }
  }
}
