  <div data-o-grid-colspan="12 M4" class="agg-item">

    <h2>{{indexname}}: </h2>

    <p class="{{valueclass value}}">
      {{value}}
    </p>
    <p class="agg-description">{{explanatorytext}}</p>
  </div>

