<div class="o-typography-flyline">
  <a href="{{flylineUrl}}" class="o-typography-flyline__link">{{flyline}}</a>
</div>

<h1 class="o-typography-heading1">{{headline}}</h1>

<p>
  <span class="article__byline credits">By <a href="https://twitter.com/sdbernard">Steve Bernard</a>, <a href="http://search.ft.com/search?queryText=matthew+vincent">Matthew Vincent</a> and <a href="https://twitter.com/davidbjourno" target="_blank">David Blood</a></span>
  <span class="article__byline updated">Last updated</span>
  <time class="article__timestamp o-date" data-o-component="o-date" datetime="2016-06-28T14:45:00Z" data-o-date-js>June 28, 2016</time>
</p>

<p class="o-typography-lead">How has Britain’s vote to leave the EU affected companies? Which have announced job cuts and profit warnings, or delayed investments and merger and acquisition deals?</p>

<script>if (cutsTheMustard) addScript('https://origami-build.ft.com/v2/bundles/js?modules=o-date@^2.3.3', true, true)</script>
