<div class="o-typography-flyline">
  <a href="#" class="o-typography-flyline__link">Brexit</a>
</div>

<h1 class="o-typography-heading1">{{title}}</h1>

<p>
  <span class="article__byline">By <a href="https://twitter.com/davidbjourno" target="_blank">David Blood</a> and <a href="#">Steve Bernard</a></span>
  <span class="article__byline updated">Last updated</span>
  <time class="article__timestamp o-date" data-o-component="o-date" datetime="2016-06-28T14:45:00Z" data-o-date-js>June 28, 2016</time>
</p>

<p class="o-typography-lead">Political language is designed to make lies sound truthful and murder respectable, and to give an appearance of solidity to pure wind</p>

<script>if (cutsTheMustard) addScript('https://origami-build.ft.com/v2/bundles/js?modules=o-date@^2.3.3', true, true)</script>
