<header class="site-header" role="banner">
	<a href="http://www.ft.com/">
	   <img class="masthead" src="https://image.webservices.ft.com/v1/images/raw/fticon:brand-ft-masthead?source=ft-interactive">
	</a>
</header>
