<link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=o-header@^5.0.6">

<header class="o-header o-header--minimal o-header--light" data-o-component="o-header">
  <div class="o-header__container">
    <div class="o-header__inner">
      <div class="o-header__bottom" data-o-header-suggestions="">
        <div class="o-header__search">
          <!-- Links to a core experience nav outside of the header -->
          <a class="o-header__search-toggle o--if-no-js" href="https://search.ft.com">
            <span class="o-header__search-toggle-text o-header__search-toggle-text--open">Search</span>
          </a>

          <div class="o--if-js">
            <button class="o-header__search-toggle" data-o-header-togglable="" data-o-header-togglable-search="" aria-hidden="true">
              <span class="o-header__search-toggle-text o-header__search-toggle-text--open">Search</span>
              <span class="o-header__search-toggle-text o-header__search-toggle-text--close">Close</span>
            </button>

            <form action="https://search.ft.com/search" id="o-header__search-form" class="o-header__search-form" data-o-header-search="" role="search">
              <input id="o-header__search-term" type="search" name="q" class="o-header__search-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Type to search the Financial Times"></input>
              <button class="o-header__search-button" for="o-header__search-form"><span>Search</span></button>
            </form>
          </div>
        </div>

        <div class="o-header__masthead-mobile">
          <a href="https://www.ft.com" title="Go to Financial Times homepage"><span>Financial Times</span></a>
        </div>

        <nav class="o-header__nav-container" role="navigation" aria-label="Primary navigation">
          <ol class="o-header__nav">
            <li class="o-header__nav-item o-header__meganav-container">
              <!-- Links to a core experience nav outside of the header -->
              <a class="o-header__nav-link o-header__nav-link--toggle o--if-no-js" href="#">
                <span class="o-header__meganav-toggle o-header__meganav-toggle--open">Menu</span>
              </a>

              <div class="o--if-js">
                <div class="o-header__nav-container">
                  <button class="o-header__nav-link o-header__nav-link--toggle" data-o-header-togglable="" data-o-header-togglable-nav="">
                    <span class="o-header__meganav-toggle o-header__meganav-toggle--open">Menu</span>
                    <span class="o-header__meganav-toggle o-header__meganav-toggle--close">Close</span>
                  </button>

                  <ol class="o-header__meganav">
                    <li class="o-header__meganav-section o-header__meganav-section--desktop">
                      <ol class="o-header__meganav-items">
                        <li class="o-header__meganav-item o-header__meganav-section-head">
                          <a class="o-header__meganav-link" href="https://www.ft.com/">Home</a>
                        </li>
                        <li class="o-header__meganav-item o-header__meganav-section-head">
                          <a class="o-header__meganav-link" href="https://www.ft.com/lex">Lex</a>
                        </li>
                        <li class="o-header__meganav-item o-header__meganav-section-head">
                          <a class="o-header__meganav-link" href="https://www.ft.com/alphaville">Alphaville</a>
                        </li>
                        <li class="o-header__meganav-item o-header__meganav-section-head">
                          <a class="o-header__meganav-link" href="https://www.ft.com/companies/technology">Technology</a>
                        </li>
                        <li class="o-header__meganav-item o-header__meganav-section-head">
                          <a class="o-header__meganav-link" href="https://www.ft.com/companies/financials">Financials</a>
                        </li>
                        <li class="o-header__meganav-item o-header__meganav-section-head">
                          <a class="o-header__meganav-link" href="https://www.ft.com/special-reports">Special Reports</a>
                        </li>
                        <li class="o-header__meganav-item o-header__meganav-section-head">
                          <a class="o-header__meganav-link" href="https://portfolio.ft.com/">Portfolio</a>
                        </li>
                        <li class="o-header__meganav-item o-header__meganav-section-head">
                          <a class="o-header__meganav-link" href="https://www.ft.com/personal-finance">Personal Finance</a>
                        </li>
                        <li class="o-header__meganav-item o-header__meganav-section-head">
                          <a class="o-header__meganav-link" href="https://www.ft.com/uk-edition">Today's Editions / ePaper</a>
                        </li>
                      </ol>
                    </li>

                    <li class="o-header__meganav-section o-header__meganav-section--collapsible o-header__meganav-section--mobile">
                      <button class="o-header__meganav-section-head" data-o-header-selectable="" aria-selected="true"><span>Edition</span></button>
                      <ol class="o-header__meganav-items">
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://next.ft.com/uk?edition=uk" aria-selected="true">UK Edition</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://next.ft.com/international?edition=international">International Edition</a>
                        </li>
                      </ol>
                    </li>

                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://www.ft.com/">Home</a>
                    </li>

                    <li class="o-header__meganav-section o-header__meganav-section--collapsible">
                      <button class="o-header__meganav-section-head o-header__meganav-section-head--mobile" data-o-header-selectable=""><span>World</span></button>
                      <p class="o-header__meganav-section-head o-header__meganav-section-head--desktop">World</p>
                      <ol class="o-header__meganav-items">
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/world">All World</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/global-economy">World Economy</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/world/us">US</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/world/europe">Europe</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/world/americas">Latin America</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/world/asiapacific">Asia Pacific</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/world/africa">Africa</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/world/mideast">Middle East and Africa</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/markets/emerging-markets">Emerging Markets</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/science-environment">Science &amp; Environment</a>
                        </li>
                      </ol>
                    </li>
                    <li class="o-header__meganav-section o-header__meganav-section--collapsible">
                      <button class="o-header__meganav-section-head o-header__meganav-section-head--mobile" data-o-header-selectable=""><span>UK</span></button>
                      <p class="o-header__meganav-section-head o-header__meganav-section-head--desktop">UK</p>
                      <ol class="o-header__meganav-items">
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/world/uk">All UK</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/world/uk/politics">UK Politics &amp; Policy</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/global-economy/uk">UK Economy</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/companies/uk">UK Companies</a>
                        </li>
                        {{!-- <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="#">England</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="#">Scotland</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="#">Wales</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="#">N. Ireland</a>
                        </li> --}}
                      </ol>
                    </li>
                    <li class="o-header__meganav-section o-header__meganav-section--collapsible">
                      <button class="o-header__meganav-section-head o-header__meganav-section-head--mobile" data-o-header-selectable=""><span>Companies</span></button>
                      <p class="o-header__meganav-section-head o-header__meganav-section-head--desktop">Companies</p>
                      <ol class="o-header__meganav-items">
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/companies">All Companies</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/companies/technology">Technology</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/companies/financials">Financials</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/companies/energy">Energy</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/companies/retail-consumer">Retail &amp; Consumer</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/companies/industrials">Industrials</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/companies/telecoms">Telecoms</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/companies/health">Health</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/companies/media">Media</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/companies/transport">Transport</a>
                        </li>
                      </ol>
                    </li>
                    <li class="o-header__meganav-section o-header__meganav-section--collapsible">
                      <button class="o-header__meganav-section-head o-header__meganav-section-head--mobile" data-o-header-selectable=""><span>Markets</span></button>
                      <p class="o-header__meganav-section-head o-header__meganav-section-head--desktop">Markets</p>
                      <ol class="o-header__meganav-items">
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/markets">All Markets</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://markets.ft.com/research/markets/overview">Markets Data</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/markets/commodities">Commodities</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/markets/currencies">Currencies</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/markets/equities">Equities</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/markets/capitalmarkets">Capital Markets</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/markets/trading-room">Trading</a>
                        </li>
                      </ol>
                    </li>
                    <li class="o-header__meganav-section o-header__meganav-section--collapsible">
                      <button class="o-header__meganav-section-head o-header__meganav-section-head--mobile" data-o-header-selectable=""><span>Opinion</span></button>
                      <p class="o-header__meganav-section-head o-header__meganav-section-head--desktop">Opinion</p>
                      <ol class="o-header__meganav-items">
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/comment/opinion">All Opinion</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/comment/ft-view">FT View</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/comment/the-big-read">The Big Read</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/lex">Lex</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/comment/columnists">Columnists</a>
                        </li>
                      </ol>
                    </li>
                    <li class="o-header__meganav-section o-header__meganav-section--collapsible">
                      <button class="o-header__meganav-section-head o-header__meganav-section-head--mobile" data-o-header-selectable=""><span>Life &amp; Arts</span></button>
                      <p class="o-header__meganav-section-head o-header__meganav-section-head--desktop">Life &amp; Arts</p>
                      <ol class="o-header__meganav-items">
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/life-arts">All Life &amp; Arts</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/magazine">Magazine</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/arts/house">House &amp; Home</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/arts/books">Books</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/arts/food">Food &amp; Drink</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/travel">Travel</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/life-arts/style">Style</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/arts/arts">Arts</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/sport">Sports</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/arts/music">Music</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/life-arts/film-television">Film, TV &amp; Radio</a>
                        </li>
                      </ol>
                    </li>
                    <li class="o-header__meganav-section o-header__meganav-section--collapsible">
                      <button class="o-header__meganav-section-head o-header__meganav-section-head--mobile" data-o-header-selectable=""><span>Work &amp; Careers</span></button>
                      <p class="o-header__meganav-section-head o-header__meganav-section-head--desktop">Work &amp; Careers</p>
                      <ol class="o-header__meganav-items">
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/management">All Work &amp; Careers</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/business-education">Business Education</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/management">Management</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/management/entrepreneurship">Entrepreneurship</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/recruitment-appointments">Recruitment</a>
                        </li>
                        <li class="o-header__meganav-item">
                          <a class="o-header__meganav-link" href="https://www.ft.com/business-books">Business Books</a>
                        </li>
                      </ol>
                    </li>

                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://www.ft.com/lex">Lex</a>
                    </li>
                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://www.ft.com/alphaville">Alphaville</a>
                    </li>
                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://www.ft.com/companies/technology">Technology</a>
                    </li>
                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://www.ft.com/companies/financials">Financials</a>
                    </li>
                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://www.ft.com/special-reports">Special Reports</a>
                    </li>
                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://portfolio.ft.com/">Portfolio</a>
                    </li>
                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://www.ft.com/personal-finance">Personal Finance</a>
                    </li>
                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://www.ft.com/uk-edition">Today's Editions / ePaper</a>
                    </li>
                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://next.ft.com/myft/following" f=""><i>my</i>FT</a>
                    </li>
                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://next.ft.com/login?location=%2Fmyft%2Fproduct-tour">Sign In</a>
                    </li>
                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://next.ft.com/logout">Sign Out</a>
                    </li>
                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://registration.ft.com/registration/selfcare/">My Account</a>
                    </li>
                    <li class="o-header__meganav-item o-header__meganav-section--mobile">
                      <a class="o-header__meganav-link" href="https://next.ft.com/products?segID=400863&segmentID=190b4443-dc03-bd53-e79b-b4b6fbd04e64">Subscribe</a>
                    </li>
                  </ol>
                </div>
              </div>
            </li>

            <li class="o-header__nav-item">
              <a class="o-header__nav-link" href="https://www.ft.com/" aria-selected="true">Home</a>
            </li>
            <li class="o-header__nav-item">
              <a class="o-header__nav-link" href="https://www.ft.com/world" aria-selected="">World</a>
            </li>
            <li class="o-header__nav-item">
              <a class="o-header__nav-link" href="https://www.ft.com/world/uk" aria-selected="">UK</a>
            </li>
            <li class="o-header__nav-item">
              <a class="o-header__nav-link" href="https://www.ft.com/companies" aria-selected="">Companies</a>
            </li>
            <li class="o-header__nav-item">
              <a class="o-header__nav-link" href="https://www.ft.com/markets" aria-selected="">Markets</a>
            </li>
            <li class="o-header__nav-item">
              <a class="o-header__nav-link" href="https://www.ft.com/comment/opinion" aria-selected="">Opinion</a>
            </li>
            <li class="o-header__nav-item">
              <a class="o-header__nav-link" href="https://www.ft.com/life-arts" aria-selected="">Life &amp; Arts</a>
            </li>
            <li class="o-header__nav-item">
              <a class="o-header__nav-link" href="https://portfolio.ft.com/" aria-selected="">Portfolio</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</header>

<script>if (cutsTheMustard) addScript('https://origami-build.ft.com/v2/bundles/js?modules=o-header@^5.0.5', true)</script>
