<link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=o-share@^2.1.5">

<div data-o-component="o-share"
    class="o-share o-share--horizontal o-share--muted"
    data-o-share-links="twitter facebook"
    data-o-share-url="{{url}}"
    data-o-share-title="{{title}}"
    data-o-share-titleExtra="{{titleExtra}}"
    data-o-share-summary="{{summary}}"
    data-o-share-relatedTwitterAccounts="@FT">
</div>

<script>if (cutsTheMustard) addScript('https://origami-build.ft.com/v2/bundles/js?modules=o-share@^2.1.5', true, true)</script>
