{{> head}}
  <body>
    {{> tracking-snippet}}

    {{> header}}

    <main role="main">
      <article class="article">
        <div class="article-head o-grid-container">
          <div class="o-grid-row">
            <header data-o-grid-colspan="12 S12 Scenter M10 L8">
              {{> share}}

              {{> article-header}}
            </header>
          </div>


        <div class="article-body o-typography-body-wrapper">
          {{{contents}}}
          <div class="aggregate o-grid-row">
            <div data-o-grid-colspan="12"><h2>Change in total value since June 24</h2>
              <div class="o-grid-row">
                {{#each agg}}
                {{> agg-item}}
                {{/each}}
              </div>

              {{> chart}}
            </div>
          </div>

          <div class="o-grid-row filters">
            <div data-o-grid-colspan="12 center" style="padding-left: 0">
              <h2 class="o-typography-subhead">Announcements by type</h3>
              <div class="filters--major">
                <button class="o-buttons o-buttons--big collection-filter" id="financial">Financial Gain ({{collections.[2].count}})</button>
                <button class="o-buttons o-buttons--big collection-filter" id="profit">Profit Warning ({{collections.[10].count}})</button>
                <button class="o-buttons o-buttons--big collection-filter" id="jobs">Jobs ({{collections.[6].count}})</button>
              </div>

              <div class="filters--minor">
                <div class="filters--minor__holder">
                  <button id="asset" class="collection-filter">Asset sales</button>
                  <button id="credit" class="collection-filter">Credit downgrade</button>
                  <button id="dividends" class="collection-filter">Dividends</button>
                  <button id="fundraising" class="collection-filter">Fundraising</button>
                  <button id="job-cuts" class="collection-filter">Job cuts</button>
                  <button id="jobs-outlook" class="collection-filter">Jobs outlook</button>
                  <button id="relocation" class="collection-filter">HQ relocation</button>
                  <button id="investment" class="collection-filter">Investment</button>
                  <button id="market" class="collection-filter">Market access warning</button>
                  <button id="mergers" class="collection-filter">Mergers &amp; acquisitions</button>
                  <button id="office-moves" class="collection-filter">Office moves</button>
                  <button id="outlook" class="collection-filter">Outlook warning</button>
                  <button id="profit-fall" class="collection-filter">Profit fall</button>
                  <button id="revenue-fall" class="collection-filter">Revenue fall</button>
                </div>
                <button class="o-buttons o-buttons--standout o-buttons--big reset" id="reset">Reset All Filters</button>
              </div>
            </div>
          </div>

          <div class="o-grid-row" id="feed">
            <div class="search-label">OR</div>
            <input id="custom-search" placeholder="Search by company name">
            <ul class="list">
              <!-- Parse Bertha data as feed object, iterating over the array to form a list -->
              {{#each (sortBy feed "timestamp")}}
              <li>
                {{> feed-item}}
              </li>
              {{/each}}
            </ul>
          </div>

          <div class="o-grid-row">
            <button class="o-buttons o-buttons--big o-buttons--standout load-more" id="load-more">Load More Announcements</button>
          </div>
        </div>
      </article>
    </main>

    {{> footer}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="scripts/list.min.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
