{{> head}}
  <body>
    {{{contents}}}
    <!-- Parse list.json as items object, iterating over the array -->
    {{#each feed}}
      <h2>{{company}}</h2>
      <p>
        {{copy}}
      </p>
    {{/each}}
  </body>
</html>
